<h2> Welcome to Save Discover Weekly! Never miss out on a discover weekly playlist again! </h2>
<p> This page will have:</p>
<ul>
  <li> 1. the user's account name </li>
  <li> 2. The list of the user's current discover weekly</li>
  <li> 3. A list of all the past discover weeklies, organized by date, since they've signed up for this app</li>
  <li> 4. More features to come </li>
</ul>

<%= link_to 'Sign in with Spotify', '/auth/spotify' %>